SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/bO6fcwCwDHcRhpbaX6TX5
POLYGON_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/REPLACE
PRIVATE_KEY=e07a41705eca5893b97c445c413a8a543542ec5004168852f7eee74c3dba1d23
ETHERSCAN_API_KEY=REPLACE
POLYGONSCAN_API_KEY=REPLACE

